<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Sinabs
 * @package     Sinabs_Directcheckout
 * @copyright   Copyright (c) 2014 Sinabs (http://www.sinabs.fr)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 
 -->
<config>
	<modules>
		<Sinabs_Directcheckout>
			<version>0.2.2</version>
		</Sinabs_Directcheckout>
	</modules>
	<global>
		<blocks>
			<directcheckout>
				<class>Sinabs_Directcheckout_Block</class>
			</directcheckout>
			<checkout>
				<rewrite>
					<onepage_link>Sinabs_Directcheckout_Block_Checkout_Onepage_Link</onepage_link>
					<links>Sinabs_Directcheckout_Block_Checkout_Links</links>
				</rewrite>
			</checkout>
		</blocks>
		<helpers>
			<directcheckout>
				<class>Sinabs_Directcheckout_Helper</class>
			</directcheckout>
			<checkout>
				<rewrite>
					<url>Sinabs_Directcheckout_Helper_Url</url>
				</rewrite>
			</checkout>
			<customer>
				<rewrite>
					<address>Sinabs_Directcheckout_Helper_Address</address>
				</rewrite>
			</customer>
		</helpers>
	</global>
	<frontend>
		<routers>
			<directcheckout>
				<use>standard</use>
				<args>
					<module>Sinabs_Directcheckout</module>
					<frontName>directcheckout</frontName>
				</args>
			</directcheckout>
		</routers>
		<layout>
			<updates>
				<directcheckout>
					<file>directcheckout.xml</file>
				</directcheckout>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sinabs_Directcheckout>
					<files>
						<default>Sinabs_Directcheckout.csv</default>
					</files>
				</Sinabs_Directcheckout>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
            <modules>
                <Sinabs_Directcheckout>
                    <files>
                        <default>Sinabs_Directcheckout.csv</default>
                    </files>
                </Sinabs_Directcheckout>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<directcheckout translate="title" module="directcheckout">
											<title>Section Directcheckout</title>
										</directcheckout>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<directcheckout>
					<file>sinabs_directcheckout.xml</file>
				</directcheckout>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<directcheckout>
			<general>
				<page_title>Directcheckout</page_title>
			</general>
			<options>
				<update_postcode>1</update_postcode>
				<icons_color>F18200</icons_color>
			</options>
			<google>
				<displayform>1</displayform>
				<placeholder>14 avenue de Copenhague, 17000 La Rochelle, France</placeholder>
			</google>
		</directcheckout>
	</default>
</config>